rules_version = '2';

// docs: https://firebase.google.com/docs/rules/rules-language?hl=en&authuser=0

service firebase.storage {

  match /b/{bucket}/o/traces/{traceId} {
    allow get
    // https://stackoverflow.com/questions/38995011/firebase-3-storage-dont-allow-file-updating-overwriting
    allow create: if resource == null // it doesnt already exist
  }

  // match /b/{bucket}/o {
  //   match /{allPaths=**} {
  //     allow read, write: if false;
  //   }
  // }
}

// The 30d deletion rule is in cloud console / storage / lifecycle rules