rules_version = '2';

// docs: https://firebase.google.com/docs/rules/rules-language?hl=en&authuser=0
//       https://firebase.google.com/docs/reference/security/storage

service firebase.storage {

  match /b/trace-uploading-maybe.appspot.com/o/traces/{traceId} {
    allow get
    // https://stackoverflow.com/questions/38995011/firebase-3-storage-dont-allow-file-updating-overwriting
    allow create: if resource == null // it doesnt already exist
  }

  match /b/tum-permatraces2/o/permatraces/{traceId} {
    allow get
  }

  // match /b/{bucket}/o {
  //   match /{allPaths=**} {
  //     allow read, write: if false;
  //   }
  // }
}

// The 90d deletion rule is in cloud console / storage / lifecycle rules

// If anything is changed, the 2nd bucket should be updated the admin UI