/* Thx inspectorCommon.css */

*, *:before, *:after {
  box-sizing: border-box;
}

:root {
  height: 100%;
  overflow: hidden;

}

.-theme-with-dark-background {
  /**
   * Inherit the native form control colors when using a dark theme.
   * Override them using CSS variables if needed.
   */
  color-scheme: dark;
}

body {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
  margin: 0;
  cursor: default;
  font-family: ".SFNSDisplay-Regular", "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", "Lucida Grande", Arial, sans-serif;
  font-size: 12px;
  tab-size: 2;
  color: var(--color-text-primary);
  background: var(--color-background);
  --dt-tabstrip-height: 26px;  /* Matches the height of devtools tab strip */
}

/* Mine */

main {
  margin: 8px;
}

footer {
  font-size: 90%;
  text-align: right;
  margin: 0 1rem 1rem;
}

.landing-ui {
  margin: 60px auto;
  width: 600px;
  border: 1px solid hsl(214deg 7% 81%);
  border-top: 0;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
}
h1 { margin: 1rem; }
h1 a { color: inherit; text-decoration: inherit;}
h2 {  font-size: 24px; line-height: 32px; 
  color: #512da8;  
  margin: 5vw; 
  border-bottom: 5px solid #b39ddb;
  padding-bottom: 20px;
}

iframe { 
  width: 100%;
  height: 100%;
  border: 0;
  position: absolute;
  top: 0;
  display: none;
}

.state--viewing iframe#ifr-dt {
  display: block;
}

/* not handled with same body state as devtools iframe, but.. thats good */ 
iframe#ifr-perfetto.visible {  
  display: block;
  background-color: white;
  padding-top: var(--dt-tabstrip-height);
}

.state--idle details {
  visibility: hidden;
}

.state--viewing details {
    border-bottom: 1px solid rgb(202 205 209);  
    background-color: rgb(241 243 244);
    width: 100%;
    color: rgb(51, 51, 51);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10; /* Above devtools iframe */
}

.state--viewing details[open] {
  border-bottom-width: 2px; /* i just like it better */
}

.state--idle details p,
.state--idle details summary {
  display: none;
}

.state--viewing details summary {
  height: var(--dt-tabstrip-height); 
  padding: 0 10px;
  line-height: var(--dt-tabstrip-height);
}
summary {
  cursor: pointer;
  background-color: #f1f3f4;
}
summary:hover {
  background-color: rgb(222 225 230);
}
summary span {
  color: gray;
  font-size: 11px;
  display: inline-block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding-left: 20px;
  vertical-align: bottom;

}
details[open] summary span {
  display: none;
}

textarea {
  width: 100%;
  height: 100px;
  font-size: 11px;
  font-family: menlo, dejavu sans mono, consolas, lucida console, courier new, monospace;
  border: 0;
  resize: none;
}
/* "clever" hack to make sure log textarea is visible in idle state, 
    but dont show the rest of the <details> elem. 
    probably 
  */
.state--idle details .console {
  visibility: visible;
}

/** drag n drop */
.dropping main {
  filter: blur(2px) grayscale(1);
}

/* translucent screen */
.dropping::before {
  background-color: rgba(255,255,255,0.8);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: '';
}

.dropping::after {
  --width: 33vw;
  --height: 20vh;

  content: 'Drop trace here';
  border: 2px dashed currentColor;
  border-radius: 5px;
  padding: 25px;

  width: var(--width);
  height: var(--height);
  min-width: 250px;
  position: absolute;
  top: calc(50vh - var(--height));
  left: calc(50vw - var(--width)/2);

  display: flex;
  align-items: center;
  justify-content: center;
  
  background-color: #ffffffe6;
  font-size: 35px;
  font-weight: 600;
  color: var(--color-text-primary);
}


/* style a button as a link */
button#selectfile {
  border: 0;
  background: 0;
  display: inline;
  padding: 0;
  color: #0000ee; /* fallback i guess */

  /* thx useragent stylesheet! */
  color: -webkit-link; 
  cursor: pointer;
  text-decoration: underline;
}





/* mimic css overview style */  
:root {
  --color-text-primary: hsl(25deg 6% 13%);
  --color-text-secondary: rgb(95 99 104);
  --color-details-hairline: rgb(202 205 209);
  --color-details-hairline-light: rgb(223 225 227);
  --color-background-elevation-0: rgb(248 249 249);
  --color-background-elevation-1: rgb(241 243 244);
  --color-background-elevation-2: rgb(222 225 230);
  --legacy-accent-color: #1a73e8;
  --override-message-border-color: rgb(240 240 240);
  
}

h1 a {
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  color: hsl(25deg 6% 13%);
}
h1 a span.emoji { 
  font-size: 24px;
}

.intro-steps {
  counter-reset: custom-counter 0;
  list-style: none;
  margin: 16px 1rem 6px calc(30px + 1rem);
  padding: 0px;
}
.intro-steps li {
  color: var(--color-text-primary);
  counter-increment: custom-counter 1;
  font-size: 13px;
  letter-spacing: 0.03em;
  line-height: 1.54;
  margin-bottom: 9px;
  position: relative;
}


.intro-steps li::before {
  --override-color-counter-background: rgba(26 115 232/25%);
  box-sizing: border-box;
  background: var(--override-color-counter-background);
  border-radius: 50%;
  color: var(--color-primary);
  content: counter(custom-counter);
  font-size: 12px;
  height: 18px;
  left: -30px;
  line-height: 20px;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.topbar {
  background-color: var(--color-background-elevation-1);
  border-bottom: 1px solid var(--color-details-hairline);
  height: 27px;
}

.console {
  display: flex;
  flex-direction: column;
  position: relative;
  background: white;

  height: 0;
  overflow: hidden;
  transition: 150ms height;
}

.console.populated {
  height: 120px;
}

.console::after {
  content: '❯';
  color: hsl(217deg 86% 72%);
  display: block;
  width: 100%;
  height: 20px;
  position: absolute;
  bottom: 0;
  left: 0;
  border-top: 1px solid var(--override-message-border-color);
  padding: 4px 8px;
}

.tabbed-pane-header {
  display: flex;
  flex: 0 0 27px;
  border: 1px solid var(--color-details-hairline);
  overflow: visible;
  width: 100%;
  background-color: var(--color-background-elevation-1);
  border-width: 1px 0;
  padding: 0 6px;
}
.tabbed-pane-header-tab.selected {
  border-bottom: none;
  color: var(--legacy-tab-selected-fg-color);
  position: relative;
}
.tabbed-pane-header-tab.selected::after {
  content: '';
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: -1px;
  background-color: var(--legacy-accent-color);
  left: 0;
}

.tabbed-pane-header-tab {
  float: left;
  padding: 2px 0.8em;
  height: var(--dt-tabstrip-height);
  line-height: 16px;
  white-space: nowrap;
  cursor: default;
  display: flex;
  align-items: center;
  color: var(--color-text-secondary);
}
.tabbed-pane-header-tab:hover, .tabbed-pane-shadow .tabbed-pane-header-tab:focus-visible {
  color: var(--color-text-primary);
  background-color: var(--color-background-elevation-2);
}
.toolbar-divider {
  background-color: var(--color-details-hairline);
  width: 1px;
  margin: 4px 4px;
  height: 16px;
  display: inline-block;
}

.summary-body {
  display: inline-flex;
  width: calc(100% - 16px);
  justify-content: flex-end;
  height: 25px;
}
.last-log {
  flex-grow: 1;
}
.toolbar-button {
  width: 28px;
  height: 25px;
  border: 0;
  display: inline;
  padding: 0;
  background: none;
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: 4px 3px;
  opacity: 0.6;
  --home-icon-url: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="48" width="48"><path  d="M11.45 38.55h6.35V25.7h12.45v12.85h6.3V19.7L24 10.3l-12.55 9.4ZM6.9 43.1V17.4L24 4.55 41.15 17.4v25.7h-14.9V29.7H21.8v13.4ZM24 24.4Z"/></svg>');
}
.toolbar-button:hover {
  opacity: 1;
  cursor: pointer;
}
.toolbar-button--home {
  background-image: var(--home-icon-url);
}

.toolbar-button--perfetto-toggle {
  background-image: url('https://perfetto.dev/assets/favicon.png');
}
.toolbar-button--perfetto-toggle-devtools {
  background-image: url('https://raw.githubusercontent.com/ChromeDevTools/devtools-logo/master/logos/png/devtools-circle-48.png');
}




/* a la .console-message */
textarea {
  padding: 3px 22px 1px 24px;
  line-height: 17px;
  margin-bottom: 18px;
}