/* Thx inspectorCommon.css */

*, *:before, *:after {
  box-sizing: border-box;
}

:root {
  height: 100%;
  overflow: hidden;

}

.-theme-with-dark-background {
  /**
   * Inherit the native form control colors when using a dark theme.
   * Override them using CSS variables if needed.
   */
  color-scheme: dark;
}

body {
  height: 100vh;
  width: 100%;
  display: flex;
  position: relative;
  margin: 0;
  cursor: default;
  font-family: system-ui, sans-serif;
  font-size: 12px;
  tab-size: 2;
  color: var(--sys-color-on-surface);
  background: var(--color-background);
  --dt-tabstrip-height: 26px;  /* Matches the height of devtools tab strip */
}

/* Mine */

main {
  margin: 8px;
  width: 100%;
}

footer {
  font-size: 90%;
  text-align: right;
  margin: 0 1rem 1rem;
}
footer a {
  display: block;
}
#chromever {
  font-family: monospace;
  font-size: 90%;
}

.landing-ui {
  margin: 60px auto;
  width: 600px;
  border: 1px solid hsl(214deg 7% 81%);
  border-top: 0;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
}
h1, h2 { margin: 1rem; }
h1 a { color: inherit; text-decoration: inherit;}
h2 {  
  margin-bottom: 0;
  font-size: 16px;
  line-height: 19px;
  color: var(--sys-color-on-surface);
  font-weight: normal;
}

iframe { 
  flex: 1; /* Make the iframe expand to fill the available space */
  width: 100%;
  height: 100%;
  border: 0;
  position: absolute;
  top: 0;
  display: none;
}

.state--viewing iframe#ifr-dt {
  display: block;
}

/* not handled with same body state as devtools iframe, but.. thats good */ 
iframe#ifr-perfetto.visible {  
  display: block;
  background-color: white;
  padding-top: var(--dt-tabstrip-height);
}

.state--landing details {
  visibility: hidden;
}

.state--viewing details {
    border-bottom: 1px solid var(--sys-color-divider);  
    width: calc(100% - 64px);
    color: rgb(51, 51, 51);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10; /* Above devtools iframe */
}

.state--viewing details[open] .details-body {
  box-shadow: 1px 2px 2px 0px #ababab7a; /* because it overlaps other stuff. not devtools canon but w/e */
  width: calc(100% + 64px); /* to recoup the space we gave to the other icons */
}

.state--landing details p,
.state--landing details summary {
  display: none;
}

.state--viewing details summary {
  height: var(--dt-tabstrip-height); 
  padding: 0 10px;
  line-height: var(--dt-tabstrip-height);
}
summary {
  cursor: pointer;
  background-color: #f1f3f4;

  background-color: var( --sys-color-base-container);
}
summary:hover {
  background-color: #d6dce9; /* not using var(--sys-color-state-hover-on-subtle) because its transparent and this is the resolved color */
}
summary span {
  color: gray;
  font-size: 11px;
  display: inline-block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding-left: 20px;
  vertical-align: bottom;

}
details[open] summary span {
  display: none;
}

textarea {
  width: 100%;
  height: 100px;
  font-size: 11px;
  font-family: monospace;
  border: 0;
  resize: none;
}
/* "clever" hack to make sure log textarea is visible in landing state, 
    but dont show the rest of the <details> elem. 
    probably 
  */
.state--landing details .console {
  visibility: visible;
}

/** drag n drop */
.dropping main {
  filter: blur(2px) grayscale(1);
}

/* translucent screen */
.dropping::before {
  background-color: rgba(255,255,255,0.8);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: '';
}

.dropping::after {
  --width: 33vw;
  --height: 20vh;

  content: 'Drop trace here';
  border: 2px dashed currentColor;
  border-radius: 5px;
  padding: 25px;

  width: var(--width);
  height: var(--height);
  min-width: 250px;
  position: absolute;
  top: calc(50vh - var(--height));
  left: calc(50vw - var(--width)/2);

  display: flex;
  align-items: center;
  justify-content: center;
  
  background-color: #ffffffe6;
  font-size: 35px;
  font-weight: 600;
  color: var(--sys-color-on-surface);
}


/* style a button as a link */
button#selectfile {
  border: 0;
  background: 0;
  display: inline;
  padding: 0;
  color: #0000ee; /* fallback i guess */

  /* thx useragent stylesheet! */
  color: -webkit-link; 
  cursor: pointer;
  text-decoration: underline;
}





/* mimic css overview style */  
:root {

  --legacy-accent-color: rgb(27, 110, 243); /* didnt update the prop but the value is current */


  /* wow these colors are complicated */
  --ref-palette-primary40: var(--color-ref-primary40, rgb(11 87 208 / 100%));
  --ref-palette-neutral99: var(--color-ref-neutral99, rgb(253 252 251 / 100%));
  --sys-color-surface4: color-mix(in sRGB, var(--ref-palette-primary40) 12%, var(--ref-palette-neutral99));
  --sys-color-base-container: var(--sys-color-surface4);

  --ref-palette-primary90: var(--color-ref-primary90, rgb(211 227 253 / 100%));
  --sys-color-divider: var(--ref-palette-primary90);

  --ref-palette-neutral10: var(--color-ref-neutral10, rgb(31 31 31 / 100%));
  --sys-color-state-hover-on-subtle: color-mix(in sRGB, var(--ref-palette-neutral10) 6%, transparent);
  
  --ref-palette-primary40: var(--color-ref-primary40, rgb(11 87 208 / 100%));
  --sys-color-primary: var(--ref-palette-primary40);

  --sys-color-on-surface: var(--ref-palette-neutral10);
--ref-palette-neutral10: var(--color-ref-neutral10, rgb(31 31 31 / 100%));
}

h1 a {
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  color: hsl(25deg 6% 13%);
}
h1 a span.emoji { 
  font-size: 24px;
}

.intro-steps {
  counter-reset: custom-counter 0;
  list-style: none;
  margin: 16px 1rem 6px calc(30px + 1rem);
  padding: 0px;
}
.intro-steps li {
  color: var(--sys-color-on-surface);
  counter-increment: custom-counter 1;
  font-size: 13px;
  letter-spacing: 0.03em;
  line-height: 1.54;
  margin-bottom: 9px;
  position: relative;
}


.intro-steps li::before {
  --override-color-counter-background: rgba(26 115 232/25%);
  box-sizing: border-box;
  background: var(--override-color-counter-background);
  border-radius: 50%;
  color: var(--color-primary);
  content: counter(custom-counter);
  font-size: 12px;
  height: 18px;
  left: -30px;
  line-height: 20px;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}


ul.recent {
  margin-top: 8px;
  line-height: 1.7;
  word-break: break-all; /* because long trace filenames */
  /* need some scrolling */
  overflow: auto;
  max-height: 31ex;
}
.recent li > a > span {
  font-size: 85%;
  letter-spacing: -0.3px;
  font-variant: tabular-nums; /* wooo! */
}

.topbar {
  background-color: var( --sys-color-base-container);
  border-bottom: 1px solid var(--sys-color-divider);
  height: 27px;
}

.console {
  display: flex;
  flex-direction: column;
  position: relative;
  background: white;

  height: 0;
  overflow: hidden;
  transition: 150ms height;
}

.console.populated {
  height: 120px;
}

.console::after {
  content: '❯';
  color: hsl(217deg 86% 72%);
  display: block;
  width: 100%;
  height: 20px;
  position: absolute;
  bottom: 0;
  left: 0;
  border-top: 1px solid var(--sys-color-divider);
  padding: 4px 8px;
}

.tabbed-pane-header {
  display: flex;
  flex: 0 0 27px;
  border: 1px solid var(--sys-color-divider);
  overflow: visible;
  width: 100%;
  background-color: var( --sys-color-base-container);
  border-width: 1px 0;
  padding: 0 6px;
}
.tabbed-pane-header-tab.selected {
  border-bottom: none;
  color: var(--sys-color-primary);
  position: relative;
}
.tabbed-pane-header-tab.selected::after {
  content: '';
  width: 100%;
  height: 1.5px;
  position: absolute;
  bottom: -1px;
  background-color: var(--legacy-accent-color);
  left: 0;
}

.tabbed-pane-header-tab {
  float: left;
  padding: 2px 0.8em;
  height: var(--dt-tabstrip-height);
  line-height: 16px;
  white-space: nowrap;
  cursor: default;
  display: flex;
  align-items: center;
}
.tabbed-pane-header-tab:hover, .tabbed-pane-shadow .tabbed-pane-header-tab:focus-visible {
  color: var(--sys-color-on-surface);
  background-color: var(--sys-color-state-hover-on-subtle);

}
.toolbar-divider {
  background-color: var(--sys-color-divider);
  width: 1px;
  margin: 4px 4px;
  height: 16px;
  display: inline-block;
}

.summary-body {
  display: inline-flex;
  width: calc(100% - 16px);
  justify-content: flex-end;
  height: 25px;
  vertical-align: top; /* to prevent a 1px shift on disclosure triangle */
}
.last-log {
  flex-grow: 1;
}
.toolbar-button {
  width: 28px;
  height: 25px;
  border: 0;
  display: inline;
  padding: 0;
  background: none;
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: 4px 3px;
  opacity: 0.6;
  --home-icon-url: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="48" width="48"><path  d="M11.45 38.55h6.35V25.7h12.45v12.85h6.3V19.7L24 10.3l-12.55 9.4ZM6.9 43.1V17.4L24 4.55 41.15 17.4v25.7h-14.9V29.7H21.8v13.4ZM24 24.4Z"/></svg>');
}
.toolbar-button:hover {
  opacity: 1;
  cursor: pointer;
}
.toolbar-button--home {
  background-image: var(--home-icon-url);
}

.toolbar-button--perfetto-toggle {
  background-image: url('https://perfetto.dev/assets/favicon.png');
}
.toolbar-button--perfetto-toggle-devtools {
  background-image: url('https://raw.githubusercontent.com/ChromeDevTools/devtools-logo/master/logos/png/devtools-circle-48.png');
}




/* a la .console-message */
textarea {
  padding: 3px 22px 1px 24px;
  line-height: 17px;
  margin-bottom: 18px;
}