/* Thx inspectorCommon.css */

* {
  box-sizing: border-box;
}

:root {
  height: 100%;
  overflow: hidden;

}

.-theme-with-dark-background {
  /**
   * Inherit the native form control colors when using a dark theme.
   * Override them using CSS variables if needed.
   */
  color-scheme: dark;
}

body {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
  margin: 0;
  cursor: default;
  font-family: ".SFNSDisplay-Regular", "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", "Lucida Grande", Arial, sans-serif;
  font-size: 12px;
  tab-size: 2;
  color: var(--color-text-primary);
  background: var(--color-background);
}

/* Mine */

main {
  margin: 8px;
}

.landing {
  margin: 60px auto;
  width: 600px;
  border: 1px solid hsl(214deg 7% 81%);
}
h1 { margin: 1rem; }
h1 a { color: inherit; text-decoration: inherit;}
h2 {  font-size: 24px; line-height: 32px; 
  color: #512da8;  
  margin: 5vw; 
  border-bottom: 5px solid #b39ddb;
  padding-bottom: 20px;
}

iframe { 
  width: 100%;
  height: 100%;
  border: 0;
  position: absolute;
  top: 0;
  display: none;
}

.state--viewing iframe {
  display: block;
}

.state--idle details {
  visibility: hidden;
}

.state--viewing details {
    border-bottom: 1px solid rgb(202 205 209);  
    background-color: rgb(241 243 244);
    width: 100%;
    color: rgb(51, 51, 51);
    position: fixed;
    top: 0;
    z-index: 10; /* Above devtools iframe */
}

.state--viewing details summary {
  height: 26px; /* Matches the height of devtools tab strip */
}
details > * {
  padding: 7px 8px;
}
summary {
  cursor: pointer;
  background-color: #f1f3f4;
}
summary:hover {
  background-color: rgb(222 225 230);
}
summary span {
  color: gray;
  font-size: 11px;
  display: inline-block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding-left: 20px;
  vertical-align: bottom;

}
details[open] summary span {
  display: none;
}

textarea {
  width: 100%;
  height: 50px;
  font-size: 11px;
  font-family: menlo, dejavu sans mono, consolas, lucida console, courier new, monospace;
  border: 0;
  resize: none;
}
/* "clever" hack to make sure log textarea is visible in idle state, 
    but dont show the rest of the <details> elem. 
    probably 
  */
.state--idle details textarea {
  visibility: visible;
}

/** drag n drop */
.dropping main {
  filter: blur(2px) grayscale(1);
}

/* translucent screen */
.dropping::before {
  background-color: rgba(255,255,255,0.8);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: '';
}

.dropping::after {
  --width: 33vw;
  --height: 20vh;

  content: 'Drop trace here';
  border: 2px dashed currentColor;
  border-radius: 5px;
  padding: 25px;

  width: var(--width);
  height: var(--height);
  min-width: 250px;
  position: absolute;
  top: calc(50vh - var(--height));
  left: calc(50vw - var(--width)/2);

  display: flex;
  align-items: center;
  justify-content: center;
  
  background-color: #ffffffe6;
  font-size: 35px;
  font-weight: 600;
  color: #ba68c8;
}

/* mimic css overview style */  
:root {
  --color-text-primary: hsl(25deg 6% 13%);
}

h1 a {
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  color: hsl(25deg 6% 13%);
}
h1 a span.emoji { 
  font-size: 24px;
}

.intro-steps {
  counter-reset: custom-counter 0;
  list-style: none;
  margin: 16px 1rem 30px calc(30px + 1rem);

  padding: 0px;
}
.intro-steps li {
  color: var(--color-text-primary);
  counter-increment: custom-counter 1;
  font-size: 13px;
  letter-spacing: 0.03em;
  line-height: 1.54;
  margin-bottom: 9px;
  position: relative;
}


.intro-steps li::before {


  --override-color-counter-background: rgba(26 115 232/25%);
  box-sizing: border-box;
  background: var(--override-color-counter-background);
  border-radius: 50%;
  color: var(--color-primary);
  content: counter(custom-counter);
  font-size: 12px;
  height: 18px;
  left: -30px;
  line-height: 20px;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.topbar {
  background: hsl(200deg 12% 95%);
  border-bottom: 1px solid hsl(214deg 7% 81%);
  height: 27px;
}